@page
@model ProdottiModel
@{
    ViewData["Title"] = "Prodotti";
}
<h1>@ViewData["Title"]</h1>

<div>
   <form method="get">
        <div class="form-group">
        <label for="minPrezzo" >Min prezzo</label>
        <input type="number" class="form-control focus-custom" name="minPrezzo" placeholder="Inserisci prezzo minimo"/>
        </div>
        <div class="form-group">
        <label for="maxPrezzo">Max prezzo</label>
        <input type="number" class="form-control focus-custom" name="maxPrezzo" placeholder="Inserisci prezzo massimo"/>
        <button type="submit" class="btn btn-primary mt-3">Filtra</button>
        </div>
    </form>
    <br>

    <!-- Container per le card -->
    <div class="row">
        @foreach (var prodotto in Model.Prodotti)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/@prodotto.Immagine" class="card-img-top" alt="@prodotto.Nome" style="height: 300px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@prodotto.Nome</h5>

                        @if (prodotto.Prezzo < 300)
                        {
                            <p class="card-text text-success">
                                Prezzo: @prodotto.Prezzo €
                            </p>
                        }
                        else if(prodotto.Prezzo < 600)
                        {
                            <p class="card-text text-dark">
                                Prezzo: @prodotto.Prezzo €
                            </p>
                        } 
                        else
                        {
                            <p class="card-text text-danger">
                                Prezzo: @prodotto.Prezzo €
                            </p>
                        }

                        <p class="card-text">Dettaglio: @prodotto.Dettaglio</p>

                        <!-- Cambia colore del bottone in base al prezzo -->
                        @if (prodotto.Prezzo < 300)
                        {
                            <a asp-page="ProdottoDettaglio" asp-route-id="@prodotto.Id" class="btn btn-success">
                                Dettaglio
                            </a>
                        }
                        else if (prodotto.Prezzo < 600)
                        {
                            <a asp-page="ProdottoDettaglio" asp-route-id="@prodotto.Id" class="btn btn-warning">
                                Dettaglio
                            </a>
                        }
                        else
                        {
                            <a asp-page="ProdottoDettaglio" asp-route-id="@prodotto.Id" class="btn btn-danger">
                                Dettaglio
                            </a>}
                     <!-- Pulsante Modifica -->
                        <a asp-page="ModificaProdotto" asp-route-id="@prodotto.Id" class="btn btn-secondary">
                            Modifica</a>
                        <a asp-page="CancellaProdotto" asp-route-id="@prodotto.Id" class="btn btn-secondary">
                            Cancella
                        </a>
                        
                    </div>
                </div>
            </div>
        }
    </div>

    <form method="get">
        <input type="hidden" name="minPrezzo" value="@Request.Query["minPrezzo"]"/> <!-- Mantiene il valore del filtro quando si cambia pagina -->
        <input type="hidden" name="maxPrezzo" value="@Request.Query["maxPrezzo"]"/> <!-- Mantiene il valore del filtro quando si cambia pagina -->
        @for (int i = 1; i <= Model.numeroPagine; i++)
        {
            <button type="submit" class="btn btn-dark" name="pageIndex" value="@i">@i</button>
        }
    </form>
    <br>
    <a asp-page="/Index">Torna a Home</a>
</div>
